
.jo-project-content {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.jo-project-content-header {
  position:relative;
  width: 100%;
  height: auto;
  height: 100vh;
  padding: 60px 20px;
  display: flex;
}
.jo-project-mockups {
  display: inline;
  width: 50%;
}
.jo-project-info {
  display: inline;
  width: 50%;
}
.jo-project-content-header .jo-mockup-desktop {
  /* position:absolute; */
  width: 500px;
  height:auto;
  z-index: 5;
}
.jo-project-content-header .jo-mockup-mobile {
  /* position: absolute; */
  width: 300px;
  height: auto;
  z-index: 10;
}
@media screen and ( min-width: 1201px ) { 
  .jo-project-content-content {
    padding: 0px 40px 60px 60px;
  }
  .jo-project-content h1 {
    font-size: 4.5rem;
    line-height: 1.05;
  }
  .jo-project-content h3 {
    font-size: 2.2rem;
    line-height: 1.25;
  }
}
@media screen and ( max-width: 1200px ) {
  
}
@media screen and ( min-width: 801px ) and ( max-width: 1200px ) {
  .jo-project-content-content {
    padding: 0px 20px 40px 40px;
  }
  .jo-project-content h1 {
    font-size: 3.6rem;
    line-height: 1.05;
  }
  .jo-project-content h2 {
    font-size: 2.5rem;
    line-height: 1.25;
  }
  .jo-project-content h3 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
  .jo-project-content h4 {
    line-height: 1.22222222;    
  }
  .jo-project-content p {
    font-size: 1.4rem;
    line-height: 160%;    
  }
}
@media screen and ( min-width: 800px ) {
  
}
@media screen and ( min-width: 601px ) and ( max-width: 800px ) {
  .jo-project-content {
    height: 40vh;
  }
  .jo-project-content-content {
    padding: 0px 10px 30px 30px;
  }
  .jo-project-content h1 {
    font-size: 2.7rem;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
  .jo-project-content h2 {
    font-size: 2.4rem;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
  .jo-project-content h3 {
    font-size: 1.8rem;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
  .jo-project-content h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
  .jo-project-content p {
    font-size: 1.2rem;
    line-height: 155%;
  }
}
@media screen and ( max-width: 600px ) {
  .jo-project-content {
    height: 40vh;
  }
  .jo-project-content-content {
    padding: 0px 5px 25px 25px;
  }
  .jo-project-content h1 {
    font-size: 2.5rem;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
  .jo-project-content h2 {
    font-size: 2rem;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
  .jo-project-content h3 {
    font-size: 1.5rem;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
  .jo-project-content h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
  .jo-project-content p {
    font-size: 1rem;
  }
}