

.home-portfolio-base-mobile {
  min-height: 400px;
  height: auto;
  width: 100%;
}

@media screen and ( min-width: 1201px ) { 
  
}
@media screen and ( max-width: 1200px ) {
  
}
@media screen and ( min-width: 1001px ) {
  
}
@media screen and ( min-width: 801px ) {
  .home-portfolio-base-mobile {
    display: none;
  }
  .home-portfolio-base-desktop {
    position: relative;
    display: grid;
    grid-template-columns: 31.5% 11.5% 14% 11.5% 31.5%;
    grid-template-rows: 9.29% 8.21% 23.21% 8.21% 2.14% 8.21% 23.21% 8.21% 9.29%;
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 150px auto;
    overflow: visible;
  }
  .home-portfolio-block {
    position: relative;
    /* background: #ccc; */
  }
  .home-portfolio-block-1 {
    grid-column:1;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .home-portfolio-block-2 {
    grid-column: 3/6;
    grid-row: 1/4;
  }
  .home-portfolio-block-3 {
    grid-column: 1;
    grid-row: 3/6;
  }
  .home-portfolio-block-4 {
    grid-column: 5;
    grid-row: 5/8;
  }
  .home-portfolio-block-5 {
    grid-column: 1/4;
    grid-row: 7/10; 
  }
  .home-portfolio-block-6 {
    grid-column: 5;
    grid-row: 9;
    display: flex;
    justify-content:center;
    align-items: flex-start;
  }
}
@media screen and ( min-width: 801px ) and ( max-width: 1000px ) {
  .home-portfolio-base-desktop {
    grid-template-columns: 31.5% 11.5% 14% 11.5% 31.5%;
    grid-template-rows: 9.29% 8.21% 23.21% 8.21% 2.14% 8.21% 23.21% 8.21% 9.29%;
    width: 100%;
  }
}
@media screen and ( max-width: 800px ) {
  .home-portfolio-base {
    display: none;
  }
  .home-portfolio-base-mobile {
    display: block;
  }
  
}
@media screen and ( min-width: 601px ) and ( max-width: 800px ) {
 
}
@media screen and ( max-width: 600px ) {
  .jo-transform-box {

  }
}