#home-section-four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 60px;
}

#home-section-four .jo-contact-form-wrapper {
  box-sizing: border-box;
  
  width: 80%; 
  max-width: 1400px;
}