.jo-link-button:hover {
  cursor: pointer;
}
.jo-link-button button {
  display: block;
  padding: 16px 20px;
  height: 54px;
  transition: padding-right .3s;
  -webkit-transition: padding-right .3s;
}
.jo-link-button-wrapper a {
  text-decoration: none !important;
}
.jo-link-button:hover button {
  /* padding-right: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-text {
  height: 16px;
  display: flex;
  
}
.jo-link-button button .button-arrow {
  height: 16px;
  width: 0px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: width .3s, opacity .3s;
  -webkit-transition: width .3s, opacity .3s;
}
.jo-link-button:hover button .button-arrow {
  width: 29px;
  opacity: 1;
  animation: blinker 2s linear infinite;
  -webkit-animation: blinker 2s linear infinite;
}
.jo-link-button button .button-arrow svg {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 20px;
  height: auto;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .jo-link-button.small-screen-responsive button {
    padding: 8px 12px;
    height: 38px;
  }
  .jo-link-button.small-screen-responsive button .button-arrow svg {
    max-height: 16px;
  }
  .jo-link-button.small-screen-responsive button  .button-text {
    padding-top: 3px;
    font-size: 10px;
  }
}