.jo-home-portfolio-item-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.jo-home-portfolio-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px;
}