.jo-logo-title {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jo-logo-title h3 {
  display: block;
  text-align: right;
  font-size: 20px;
  line-height: 110%;
  margin-top: 12px;
}
@media screen and (min-width: 600px) {
  .jo-logo-title h3 {
    font-size: 26px;
  }
}