.home {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
.home-section {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
