.jo-list-post {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 60px auto;
}
.jo-list-post .jo-list-post-featured-image-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
}
.jo-list-post-featured-image {
  width: 100%;
  height: auto;
}
.jo-list-post-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  text-align: left;
  top: 0;
  left: 0;
  width: 70%;
  padding-right: 10px;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
}
.jo-list-post-meta {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  overflow: visible;
}
.jo-list-post-title {
  align-self: flex-start;
}
.jo-list-post .jo-list-post-excerpt-wrapper {
  align-self: center;
  margin-top: 40px;
}
.jo-list-post-content-spacer {
  margin-top: 64px;
}
.jo-list-post .jo-list-post-read-more {
  position: absolute;
  bottom: -10px;
  right: -16px;
  width: auto;
  z-index: 50;
}


.jo-list-post .jo-link-button-wrapper{
  position: relative;
  left:0;
  /* width: auto; */
  
}
.jo-list-post h1 {
  font-size: 2.5rem;
  text-transform: uppercase; 
}
.jo-list-post-excerpt p {
  line-height: 140%;
  font-size: 1.3em;
}
.jo-list-post-date {
  position: absolute;
  right: 0px;
  top: 28px;
}