.jo-blog-loading {
  font-size: 5em;
  -webkit-animation: white-rainbow 6s infinite;
  -ms-animation: white-rainbow 6s infinite;
  -o-animation: white-rainbow 6s infinite;
  animation: white-rainbow 6s infinite;
}

@media screen and (max-width: 600px) {
  .jo-blog-loading {
    font-size: 2.5em;
  }
}
