.jo-transform-box-container {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: auto;
  position: relative;
  perspective: 40px;
  background: none;
}
.jo-transform-box-inner {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  background: #ccc;
  transition: transform 0.5s;
  box-shadow: .75rem 1.25rem 2.5rem 0.35rem rgba(0,0,0,.08);
}